# fly.toml app configuration file generated for adguardhome-beta on 2025-12-24T11:09:09Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'adguardhome-beta'
primary_region = 'iad'

[build]
  [build.args]
    GO_VERSION = '1.25.5'

[env]
  PORT = '8080'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
